<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <h1>{{ title }}</h1>
                <div class="messages">
                    <div *ngIf=setSaved class="alert alert-success" role="alert">
                        Seu contato foi salvo com sucesso!
                    </div>
                    <div *ngIf=setEdited class="alert alert-success" role="alert">
                        Seu contato foi editado com sucesso!
                    </div>
                </div>
                <form [formGroup]="contactForm" (submit)="onSubmit(contactForm.value);" novalidate>
                    <div class="form-group" [ngClass]="{
                        'has-danger': name.invalid && (name.dirty || name.touched),
                        'has-success': name.valid && (name.dirty || name.touched)
                      }">
                        <label for="nome">Nome:</label>
                        <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Insira seu nome" required />
                        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">Nome é obrigatório!</div>
                            <div *ngIf="name.errors.pattern">Somente caracteres alfabéticos são permitidos!</div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-danger': email.invalid && (email.dirty || email.touched),
                        'has-success': email.valid && (email.dirty || email.touched)
                      }">
                        <label for="email">Email:</label>
                        <input type="text" formControlName="email" class="form-control" id="email" name="email" placeholder="Insira seu email" required />
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors.required">Email é obrigatório</div>
                            <div *ngIf="email.errors.pattern">Um email válido é necessário: 
                                <small><b>joe@abc.com</b></small>
                            </div>
                        </div>
                    
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-danger': phone.invalid && (phone.dirty || phone.touched),
                        'has-success': phone.valid && (phone.dirty || phone.touched)
                      }">
                        <label for="phone">Telefone:</label>
                        <input type="tel" formControlName="phone" class="form-control" id="phone" placeholder="Insira seu telefone" minlength="9" maxlength="10" required />
                        <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                            <div *ngIf="phone.errors.minlength">Telefone deve ter no mínimo 9 digitos</div>
                            <div *ngIf="phone.errors.required">Telefone é obrigatório!</div>
                            <div *ngIf="phone.errors.pattern">Somente números são aceitos</div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-danger': whatsapp.invalid && (whatsapp.dirty || whatsapp.touched),
                        'has-success': whatsapp.valid && (whatsapp.dirty || whatsapp.touched)
                      }">
                        <label for="whatsapp">whatsapp:</label>
                        <input type="tel" formControlName="whatsapp" class="form-control" id="whatsapp" placeholder="Insira seu whatsapp" minlength="10" maxlength="10" required />
                        <div *ngIf="whatsapp.errors && (whatsapp.dirty || whatsapp.touched)" class="alert alert-danger">
                            <div *ngIf="whatsapp.errors.minlength">Whatsapp deve ter no mínimo 9 digitos</div>
                            <div *ngIf="whatsapp.errors.required">Whatsapp é obrigatório!</div>
                            <div *ngIf="whatsapp.errors.pattern">Somente números são aceitos</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!contactForm.valid" *ngIf=!setEditToggle class="btn">Cadastrar Usuário</button>
                        <button type="submit" [disabled]="!contactForm.valid" *ngIf=setEditToggle class="btn">Editar Usuário</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row justify-content-center no-gutters">
            <div class="col-sm-12 no-gutters">
                <div *ngIf=setDeleted class="alert alert-success" role="alert">
                    Seu contato foi excluido com sucesso!
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Whatsapp</th>
                        <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let contacts of contactsList'>
                            <td>{{ contacts.name }}</td>
                            <td>{{ contacts.email }}</td>
                            <td>{{ contacts.phone }}</td>
                            <td>{{ contacts.whatsapp }}</td>
                            <td>
                                <a (click)="setEdit(contacts)" title="Editar"><i class="fas fa-user-edit"></i></a> | 
                                <a (click)="deleteContact(contacts._id)" title="Excluir"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>