<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h1>Balanced Brackets</h1>
                <form>
                    <div class="form-group">
                        <label for="balancedArea">Verifique se sua string está balanceada:</label>
                        <textarea type="text" [(ngModel)]="balancedText" [ngModelOptions]="{standalone: true}" class="form-control" id="balancedArea" aria-describedby="balancedHelp" placeholder="Insira a String"></textarea>
                        <button type="submit" (click)="isBalanced()" class="btn">Submit</button>
                        <div class="messages" *ngIf=isClicked>
                            <div *ngIf=isBalanceded class="alert alert-success" role="alert">
                                Sua string esta balanceada!
                            </div>
                            <div *ngIf=!isBalanceded class="alert alert-danger" role="alert">
                                Erro! Sua string não está balanceada!
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>